header  { display: block; margin-bottom: 1px;           } 
nav     { display: block; width: 20%; float: left;      } 
section { display: block; width: 70%; float: right;     } 

address{
    font-family: stoke, Lucida Bright, liberation;
    text-align: right;
    padding-left: 50px;
    color:#3366BB;
}
ul{
    line-height: 200%;
}
td,ul{
    
    color: #3366BB;
    font-family: stoke, Lucida Bright, liberation;
}
body{
    background-color: #EEDDAA;
    font-size:16px;                                                             
    font-family: stoke, Lucida Bright, liberation;
}
A:link{
    color:#2255AA;                                                             
}
A:visited{
    color: #2255CC;
}
A{ text-decoration:none;}

.logo{
    margin-top:-250px;
}

.ender{
   float:right;
   text-align: right;
   line-height: 140%;
   font-size: 14px;
   font-family: karla, verdana, ubundu;
}

.imgLogo{
    border-bottom: solid 4px;
    color: #3366BB;
    margin-bottom: 6px;
    padding-bottom: 15px;
}
.nav{
    color:#3366BB;
    line-height: 230%;
    margin-bottom: 40px;
    list-style-type: disc;
}
.ListaQueijo{
    width: 440px;
    color: #3366BB;
    background-color: #FFFFBB;
    padding-bottom: 10px;
    border:solid 2px #3366BB;
    margin-top: 0px;
    margin-bottom:10px;
    margin-left: auto;
    margin-right: auto;
}
.procedência{
    text-decoration: underline;
    padding-left: 8px;
    padding-top: 6px;
    text-align: start;
}
.nomequeijo {
    text-align: start;
}
.descqueijo {
    text-align: start;
    padding-bottom: 6px;
}


.TabQueijos{
    border-collapse: collapse;
    margin-top: 6px;
    font-size: 15px;
   
    color: #114499;
    font-family: karla,verdana, Ubuntu;
}
.TabQueijos th{
        border: solid 2px #000000; 
        padding: 6px 12px 6px 12px;
}
.TabQueijos td{
    border:solid 2px #000000;
    padding: 6px 12px 6px 12px;
    background-color: #FFFFBB;
}

.TabQueijos .preço{
    color: #CC0000;
}

.TabQueijos .linTH{
    color:#EEEE00;
    background-color: #887733;
    vertical-align: middle;
    horizontal-align: center; 
}
.TabQueijos .colTH{
    color: #222222;
    background-color: #CCBB88;
    align: left;

}

.imgQueijos{
    width:90px;
    height: 44px;
}

h1{
    color:#2255CC;
    font-size: 16px;
}

/*Pedidos*/
.divLinha{
    width: 500px;
    margin-bottom: 6px;
}
.colPri{
    float:left;
    display: block;
    width: 90px;
}
.inpGrande{
    width:380px;
}
.impMedio{
    width: 80px;
}
.numQD{
    width: 50px;
}

.divCompras{
    width: 550px;
    color:#2255AA;
    background-color: #FFFFBB;
    padding: 6px 6px 15px 6px;
    font-size:12px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #000000;
}
.FsEsq{
    float:left;
    display: inline;
    margin:0px;
}
fieldset.fsEsq {
    width: 250px; /* Define uma largura fixa */
   
}
.fsDir{
    float: right;
    display:inline;
    margin:0px;
}
.linhaProdSel{
    width:220px;
    margin-bottom:6px;
    float: left;
}
.listaCompras{
    width: 210px;
    height: 160px;          
    float:right;
    margin-top: 2px;
    margin-left: 10px;
}
.impEnder{
    width: 180px;
    height: 50px;
}
.impTelef{
    width:90px;
}
.impNCC{
    width:130px;
}
.numDD{
    width: 30px;
}
.colSelProd{
    width: 160px;
    float:right;
}
.colPriCompras{
    float:left;
    display: block;
    width: 86px;
}
.colLabCrd{
    float:left;
    display: block;
    width: 90px;
}

.elemDir{
    display: block;
    float: right;
}

/*botões*/
.botões{
    text-align:right;
    margin: 20px 10px 0px 10px;

}